<!doctype html>
<html>

<head>

  <title>Where The Hell Is My 64 GB ATT iPhone 6 Plus?</title>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <script src="/components/platform/platform.js">
  </script>
  <script src="//www.parsecdn.com/js/parse-1.3.0.min.js"></script>

  <link rel="import" href="/components/font-roboto/roboto.html">
  <link rel="import"
    href="/components/core-header-panel/core-header-panel.html">
  <link rel="import"
    href="/components/core-toolbar/core-toolbar.html">
  <link rel="import"
    href="/components/paper-tabs/paper-tabs.html">
  <link rel="import" href="/components/paper-dialog/paper-dialog-transition.html">
  <link rel="import" href="/components/paper-dialog/paper-dialog.html">
  <link rel="import" href="google-map.html">
  <core-component-page
     moduleName="google-map"
     sources='["google-map.html", "google-map-directions.html", "google-map-search.html"]'>
  </core-component-page>

  <style>
  html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
  }
  core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch; 
  }
  core-toolbar {
    background: #03a9f4;
    color: white;
  }
  google-map {
    display: block;
  }
  #tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	  text-transform: uppercase;
  }
  .container {
    width: 100%;
    margin: 50px auto;
  }
  @media (min-width: 481px) {
    #tabs {
      width: 200px;
    }
    .container {
      width: 400px;
    }
  }
  </style>

</head>

<body unresolved>

  <core-header-panel>

    <core-toolbar>
      <span flex>Where The Hell Is My 64 GB ATT iPhone 6 Plus?</span>
      <paper-tabs id="tabs" selected="map" self-end>
        <paper-tab name="map">Map</paper-tab>
        <!-- <paper-tab id="list" name="list">List</paper-tab> -->
      </paper-tabs>

    </core-toolbar>

    <div class="container">
      <google-map fit apiKey="AIzaSyCPFwaSuk-lwdvKhP5k18nBeHOc0UbZeMI" latitude="37.77493" longitude="-122.41942" zoom=6 fitToMarkers>
      </google-map>
      <paper-dialog opened=false layered=true heading="All Available Locations" transition="paper-dialog-transition-bottom">
        <p>No 64 GB ATT iPhone 6 Pluses Available!!!</p>
      </paper-dialog>

    </div>

  </core-header-panel>

  <script>
    var gmap = document.querySelector('google-map');
    gmap.addEventListener('api-load', function(e) {
      var infowindow = new google.maps.InfoWindow()
      var content = "available";
      Parse.initialize("dkmj5nkZpZ7N1Po6Da6iEUJcpC3W71tAgi8srIa0", "EvjURA0vE1qjAoOJeg2OJKlXlZ3rQWqzNPyDqieD");
      var StoreLocation = Parse.Object.extend("StoreLocation");
      var query = new Parse.Query(StoreLocation);
      query.limit(1000);
      query.find({
        success: function(storeLocations) {
          // The object was retrieved successfully.
          for (var i = storeLocations.length - 1; i >= 0; i--) {
            var storeLocation = storeLocations[i];
            var src = 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
            if (storeLocation.get("available")) {
              src = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
            }
            var marker = new google.maps.Marker({
              map: gmap.map,
              draggable:false,
              position: new google.maps.LatLng(storeLocation.get("location").latitude, storeLocation.get("location").longitude),
              icon: src,
              title: storeLocation.get("name"),  
            });

            google.maps.event.addListener(marker, 'click', function() {
              var storeLocation = Parse.Object.extend("StoreLocation");
              var query = new Parse.Query(storeLocation);
              query.equalTo("name", marker.title);
              query.first({
              success: function(object) {
                // Successfully retrieved the object.
              },
              error: function(error) {
                alert("Error: " + error.code + " " + error.message);
              }
              });
            });
            google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
                return function() {
                  infowindow.close();
                  var storeLocation = Parse.Object.extend("StoreLocation");
                  var query = new Parse.Query(storeLocation);
                  query.equalTo("name", marker.title);
                  query.first({
                  success: function(object) {
                    // Successfully retrieved the object.
                    var content = "<p><h3>Not Available</h3></p>"
                    if (object.get("available")) {
                      content = "<p><h3>Available</h3></p>"
                    }
                    content += "<p>" + object.get("name") + "</p>"
                    content += "<p>" + object.get("address") + "</p>"
                    content += "<p>" + object.get("phoneNumber") + "</p>"
                    infowindow.setContent(content);
                    infowindow.open(gmap.map,marker);
                  },
                  error: function(error) {
                    alert("Error: " + error.code + " " + error.message);
                  }
                });
              };
            })(marker,content,infowindow)); 
          };
        },
        error: function(object, error) {
          // The object was not retrieved successfully.
          // error is a Parse.Error with an error code and message.
        }
      });
    });
    var tab = document.querySelector('paper-tab#list');
    var dialog = document.querySelector('paper-dialog');
    dialog.addEventListener('core-overlay-open', function(e) {
      if (this.opened) {

      }
    });
    tab.addEventListener('click', function() {
      var dialog = document.querySelector('paper-dialog');
      dialog.toggle();
    });
  </script>
</body>

</html>
